{
    "extends": [
        "stylelint-config-recommended",
    ],
    "plugins": [
        "stylelint-order"
    ],
    "rules": {
        "order/order": [
            [
                "custom-properties",
                "declarations"
            ],
            {
                "disableFix": true
            }
        ],
		"order/properties-alphabetical-order": true
    }
}